:root {
  --active-color: #0096CF;
  --background-color: white;
  --border-color: #e0e0e0;
  --button-color: var(--active-color);
  --message-bg-color: #f1f1f1;
  --user-message-bg-color: var(--background-color);
  --user-message-text-color: #fff;
  --footer-bg-color: #f9f9f9;
  --font-color: black;
  color: white
}

@media (prefers-color-scheme: dark) {
  :root {
    --active-color: #0096CF;
    --background-color: #121212;
    --border-color: #333;
    --button-color: var(--active-color);
    --message-bg-color: #333;
    --user-message-bg-color: #444;
    --user-message-text-color: #fff;
    --footer-bg-color: #222;
    --font-color: white;
    color: black
  }
}



::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

svg {
  width: 30px;
  height: 30px;
}

.chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chatButton img {
  width: 30px;
  height: 30px;
}

.chatContainer {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  max-height: 80vh;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--background-color);
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  font-weight: bold;
  color: var(--font-color);
}

.subHeader {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.aiIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  background-color: var(--footer-bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--font-color);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer button svg {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.footer button.activeButton {
  font-weight: bold;
  color: var(--button-color);
}

.footer button.activeButton svg {
  fill: var(--button-color);
}
.footer button.activeButton svg path {
  stroke: var(--active-color);
}

.messageContainer {
  padding: 10px;
}

.message {
  display: flex;
  align-items: center;
  background-color: var(--message-bg-color);
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 10px;
  color: var(--font-color);
}

.aiMessage {
  background-color: var(--message-bg-color);

}

.userMessage {
  background-color: var(--user-message-bg-color);
  color: var(--user-message-text-color);
  align-self: flex-end;
}

.messageIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.replyText {
  background-color: inherit;
  border-radius: 10px;
  padding: 10px;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-right: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
}
input::placeholder {
  color: var(--font-color);
}

button {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.askQuestion {
  background-color: var(--message-bg-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.askQuestion p {
  margin: 0;
}

.searchInput {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.articles {
  padding: 10px;
}

.article {
  background-color: var(--message-bg-color);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.inputContainer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 50vh;
  width: 100%;
  padding-right: 50px; /* Space for the button */
}

.sendButton {
  position: absolute;
  right: 30px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendButton svg path {
  stroke: var(--font-color);
}
