@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }


  body {
    font-family: 'Lato';
  }